<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <h1> Demande Reservation </h1>

    <form action="confirmerReservation.html" method="post">

        <p> <label for=""> votre Nom </label>
        <input type="text" name="nom" id=""> </p>

        <p> <label for=""> Date de naissance </label>
        <input type="date" name="dtn" id=""> </p>

        <p> <label for=""> votre contact </label>
        <input type="number" name="contact" id=""> </p>

        <p>
        <label for=""> l'aeroport de depart </label>

        <select name="AeroportDepart" id="">

            <option value=""> Tana </option>

        </select>
        </p>

        <p>
        <label for=""> l'aeroport Arrive </label>

        <select name="AeroportArriver" id="">

            <option value=""> Nosy Be </option>

        </select>
        </p>

        <p>
        <label for=""> Date de reservation </label>
        <input type="datetime-local" name="date" id="">
        </p>

        <p>
        <input type="submit" value="Valider">
        </p>

    </form>

</body>

</html>